@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
header {
	background-color: #161a1e !important;
}
body {
	background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='59.428' patternTransform='scale(1) rotate(5)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(210, 15%, 10%, 1)'/><path d='M0 70.975V47.881m20-1.692L8.535 52.808v13.239L20 72.667l11.465-6.62V52.808zm0-32.95l11.465-6.62V-6.619L20-13.24 8.535-6.619V6.619L20 13.24m8.535 4.927v13.238L40 38.024l11.465-6.62V18.166L40 11.546zM20 36.333L0 47.88m0 0v23.094m0 0l20 11.548 20-11.548V47.88m0 0L20 36.333m0 0l20 11.549M0 11.547l-11.465 6.619v13.239L0 38.025l11.465-6.62v-13.24L0 11.548v-23.094l20-11.547 20 11.547v23.094M20 36.333V13.24'  stroke-linejoin='round' stroke-linecap='round' stroke-width='0.5' stroke='hsla(44, 60%, 76%, 0.26)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-15,-65.856)' fill='url(%23a)'/></svg>") !important;
	/* background-color: #161a1e !important; */
}
body::-webkit-scrollbar {
	width: 10px;
	background: #161a1e;
}
body::-webkit-scrollbar-thumb {
	background: #e7d49e;
	border-radius: 10px;
	border-right: 2px solid #161a1e;
}
main {
	min-height: 82.9vh;
}
.logout {
	cursor: pointer;
}
.img-header {
	width: 5em;
	height: 5em;
}
.nav-link {
	font-size: 20px;
	font-weight: 400;
	color: white !important;
}
.active {
	border-bottom: 2px solid #e7d49e;
	max-width: fit-content;
	height: 45px;
}
.hovers:hover {
	border-bottom: 2px solid #e7d49e;
	max-width: fit-content;
	height: 45px;
}
.navbar-toggler {
	background-color: #e7d49e;
	border: 1px solid white;
	box-shadow: none !important;
}
.exit {
	font-size: 30px;
	color: #e7d49e !important;
}
.encabezado {
	height: 10em;
	background-color: rgb(24, 22, 20);
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
}
.encabezado > h1 {
	height: 4em;
	margin: 0 !important;
	color: white;
}
.text-welcome {
	color: #e7d49e !important;
}
.text-main {
	font-size: 3em;
	padding-bottom: 10px;
	border-bottom: 2px solid #e7d49e;
	max-width: fit-content;
	margin: auto;
}
.div-main {
	width: 30em;
	height: 30em;
	background-color: white;
	border-radius: 20px;
	box-shadow: 1px 1px 20px 5px #e7d49e;
}
.div-account {
	padding-bottom: 8em !important;
}
.h3-account {
	font-size: 4em;
	text-align: center;
	padding-top: 15px;
	border-bottom: 5px solid #e7d49e;
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
}
.h5-account {
	max-width: fit-content;
	margin: auto;
	padding-top: 10px;
}
.span-vue {
	color: grey;
	font-size: 1.5em;
}
.icon-debit {
	font-size: 50px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
}
.a-trans {
	color: black;
}
.footer {
	background-color: #161a1e;
	height: 4em;
	border-top: 1px solid grey;
}
.twitter {
	font-size: 40px;
	color: gray;
	cursor: pointer;
}
.facebook {
	font-size: 40px;
	color: gray;
	cursor: pointer;
}
.twitter:hover {
	color: aqua;
}
.facebook:hover {
	color: rgb(0, 106, 255);
}
.text-footer {
	color: gray;
}
.text-p {
	color: #e7d49e;
}
.linkedin {
	text-decoration: none;
	color: gray;
}
.linkedin > span {
	font-weight: bold !important;
	color: #e7d49e !important;
}

/*---------------------------TRANSACTIONS----------------------------------------*/

.main-trans {
	min-height: 82.8vh;
}
.div-trans {
	min-height: 38em;
}
.text-trans {
	font-weight: 400;
	font-size: 20px;
}
.span {
	color: #e7d49e;
	font-weight: bold;
}
.DEBIT {
	color: red !important;
}
.CREDIT {
	color: green !important;
}
.table {
	box-shadow: 1px 2px 10px 2px #e7d49e;
}

/*-----------------------------ALERTAS--------------------------------------*/
.swal2-confirm {
	background-color: #e7d49e !important;
}
.swal2-styled.swal2-confirm:focus {
	box-shadow: 0 0 0 3px rgba(249, 249, 249, 0.5) !important;
}
body.swal2-shown > [aria-hidden='true'] {
	transition: 0.1s filter;
	filter: blur(10px);
}
@media (min-width: 319px) and (max-width: 1000px) {
	.encabezado > h1 {
		height: 5.2em;
		font-size: 2em;
	}
	.txt-header-span {
		display: none;
	}
	.nav-link {
		margin: auto !important;
		max-width: fit-content !important;
	}
	.nav-item {
		padding: 0 !important;
	}
	.nav-card {
		margin: auto;
		max-width: fit-content;
	}
	.active {
		min-height: 40px !important;
	}
	.exit1 {
		padding: 0 !important;
		padding-top: 15px !important;
	}
	.contenedor {
		width: 100%;
		display: block !important;
		overflow: scroll;
		margin: auto;
	}
	.footer {
		padding-top: 20px;
		justify-content: space-around !important;
		min-height: 8em;
	}
	.div-redes {
		padding: 0 !important;
		padding-bottom: 15px !important;
	}
	.text-footer {
		padding: 0 !important;
		text-align: center;
		margin-bottom: 50px !important;
	}
	/* .linkedin {
		margin-bottom: 50px;
	} */
}
