/*Chrome, Safari, Edge, Opera*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none !important;
	margin: 0;
}
/*Firefox*/
/* input[type='number'] {
	-moz-appearance: textfield !important;
} */
.section-loans {
	background-image: url(../img/loans.jpg);
	background-color: rgba(0, 0, 0, 0.631);
	background-blend-mode: soft-light;
	background-size: cover;
	background-position: center;
	height: 14em;
	border-radius: 0px 0px 80px 80px;
}
.text-loans {
	color: white !important;
	text-shadow: 3px 1px 0px black;
}
.div-loans {
	background-color: #161a1e;
	max-width: fit-content;
	padding: 25px;
	border: 1px solid #e7d49e;
	border-radius: 30px;
}
.form-select:focus {
	border-color: #e7d49e !important;
	box-shadow: 0 0 0 0.15rem #e7d49e !important;
}
.div-amount {
	width: 19em;
}
.form-control:focus {
	border-color: #e7d49e !important;
	box-shadow: 0 0 0 0.15rem #e7d49e !important;
}
.text-p-loans {
	color: rgba(220, 227, 234, 0.75);
}
.btn {
	background-image: linear-gradient(90deg, rgba(216, 174, 94, 1) 35%, rgba(231, 212, 158, 1) 100%);
	background-size: 100%;
	background-repeat: repeat;
	border: white;
	font-size: 24px;
}

@media (min-width: 319px) and (max-width: 1000px) {
	.div-form-loans {
		max-width: 100% !important;
		padding-top: 50px;
	}
}
