<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>HOMEBANKING</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
			crossorigin="anonymous"
		/>
		<link rel="shortcut icon" href="./web/img/banco.png" type="image/x-icon" />
		<link rel="stylesheet" href="./web/css/main.css" />
	</head>
	<body>
		<header>
			<nav class="d-flex justify-content-center align-items-center">
				<a class="text-center fs-1" href="./web/html/accounts.html">ACCOUNT</a>
			</nav>
		</header>
		<main id="app">
			<div class="form d-flex justify-content-around align-items-center flex-wrap pt-5">
				<form @submit="createLoan">
					<h3 class="text-light text-center">CREATE LOAN</h3>
					<div class="div-form">
						<div class="mb-3">
							<label for="nameLoan" class="form-label text-light">Name Loan:</label>
							<input type="text" class="form-control" id="nameLoan" placeholder="EJ : VACATION" v-model="loanName" required pattern="^[a-zA-Z]+$" />
						</div>
						<div class="mb-3">
							<label for="maxAmountLoan" class="form-label text-light">Max Amount:</label>
							<input
								type="number"
								class="form-control"
								id="maxAmountLoan"
								placeholder="EJ : 2000000"
								v-model="loanMaxAmount"
								required
								pattern="^[a-zA-Z]+$"
							/>
						</div>
						<div class="mb-3">
							<label for="paymentsLoan" class="form-label text-light">Payments :</label>
							<input type="text" class="form-control" id="paymentsLoan" placeholder="EJ : 6, 12, 18, 24" v-model="loanPayments" required />
						</div>
						<div class="mb-3">
							<label for="interestLoan" class="form-label text-light">Inerest Rate:</label>
							<input type="text" class="form-control" id="interestLoan" placeholder="EJ : 10% = 1.1, 20% = 1.2" v-model="loanInterest" required />
						</div>
						<button type="submit" class="btn btn-success">Add Loan</button>
					</div>
				</form>
			</div>
			<table class="table table-dark table-striped mt-4">
				<tr>
					<td colspan="2" class="text-table bg-light text-center">Name Loan</td>
					<td colspan="2" class="text-table bg-light text-center">Max Amount</td>
					<td colspan="2" class="text-table bg-light text-center">Payments</td>
					<td colspan="2" class="text-table bg-light text-center">Interests</td>
				</tr>
				<tr v-for="dato of loans">
					<td colspan="2" class="text-center">{{dato.name .toUpperCase()}}</td>
					<td colspan="2" class="text-center">U$D {{dato.maxAmount.toLocaleString('en-US')}}</td>
					<td colspan="2" class="text-center">{{dato.payments}}</td>
					<td colspan="2" class="text-center">{{dato.interests}}</td>
				</tr>
			</table>
		</main>

		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script src="./main.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
			crossorigin="anonymous"
		></script>
	</body>
</html>
