<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>HOMEBANKING | TRANSACTIONS</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
			crossorigin="anonymous"
		/>
		<link rel="shortcut icon" href="../img/logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="../css/account.css" />
	</head>
	<body class="hidden">
		<div class="center1" id="onload">
			<div class="lds-dual-ring"></div>
		</div>
		<div id="app">
			<header>
				<nav class="navbar navbar-expand-lg">
					<div class="container-fluid ps-5 pe-5">
						<img src="../img/logo.png" alt="logo" class="img-header" />
						<button
							class="navbar-toggler"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#navbarNav"
							aria-controls="navbarNav"
							aria-expanded="false"
							aria-label="Toggle navigation"
						>
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
							<ul class="navbar-nav">
								<li class="nav-item">
									<a class="nav-link hovers text-center" aria-current="page" href="./accounts.html">MyAccounts</a>
								</li>
								<li class="nav-item ps-2">
									<a class="nav-link hovers text-center" aria-current="page" href="./cards.html">MyCards</a>
								</li>
								<li class="nav-item ps-2">
									<a class="nav-link hovers text-center" aria-current="page" href="./transfers.html">Transfers</a>
								</li>
								<li class="ps-2 exit1">
									<a @click.prevent="logout" class="nav-link logout"><ion-icon class="exit" name="exit-outline"></ion-icon></a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</header>
			<main class="main-trans">
				<div class="encabezado">
					<h1 class="d-flex justify-content-center align-items-center">TRANSACTIONS</h1>
				</div>
				<div class="div-trans d-flex justify-content-center align-items-center">
					<table class="table container">
						<thead class="table-light text-center">
							<tr>
								<td class="text-trans">Date</td>
								<td class="text-trans">Amount</td>
								<td class="text-trans">Description</td>
								<td class="text-trans">Type</td>
							</tr>
						</thead>
						<tbody class="text-center">
							<tr :class="dato.type" v-for="dato of transactionOrder">
								<td class="text-trans">{{dato.date.slice(0,10)}} | {{dato.date.slice(11,16)}}</td>
								<template v-if="dato.type == 'CREDIT'">
									<td class="text-trans">+${{dato.amount.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",")}}</td>
								</template>
								<template v-else>
									<td class="text-trans">-${{dato.amount.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",")}}</td>
								</template>
								<td class="text-trans">{{dato.description}}</td>
								<td class="text-trans">{{dato.type}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</main>
			<footer class="d-flex justify-content-between align-items-center flex-wrap footer">
				<div class="d-flex justify-content-evenly ps-5 div-redes">
					<a href="https://twitter.com/?lang=es" target="_blank"><ion-icon class="twitter pe-5" name="logo-twitter"></ion-icon></a>
					<a
						href="https://www.facebook.com/?stype=lo&jlou=AfffVveciDyf5KfxOjIp2ZfxOJrcoWkofVg7BatuPUqbUTBRc5Z_Zc7wD2r2LhQzpqh7D0Ey3KVkNDMMdjzbtt_Z7lFjaTbRjXujd9VM8l2Zzw&smuh=45536&lh=Ac_fNpk9LXOq1f7U"
						target="
				"
						><ion-icon class="facebook" name="logo-facebook"></ion-icon
					></a>
				</div>
				<h4 class="pe-5 text-footer">
					<a class="linkedin" href="https://www.linkedin.com/in/franco-agustin-hermosilla-melo/" target="_blank"
						>Franco Hermosilla Melo <span>Cohort 44</span></a
					>
				</h4>
			</footer>
		</div>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
			crossorigin="anonymous"
		></script>
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script src="../js/account.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
		<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	</body>
</html>
