<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>HOMEBANKING | ACCOUNT</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
			crossorigin="anonymous"
		/>
		<link rel="shortcut icon" href="../img/logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="../css/account.css" />
	</head>
	<body>
		<div id="app">
			<header>
				<nav class="navbar navbar-expand-lg">
					<div class="container-fluid ps-5 pe-5">
						<img src="../img/logo.png" alt="logo" class="img-header" />
						<span class="text-light fs-5 txt-header-span">MINDHUB BROTHERS</span>
						<button
							class="navbar-toggler"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#navbarNav"
							aria-controls="navbarNav"
							aria-expanded="false"
							aria-label="Toggle navigation"
						>
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
							<ul class="navbar-nav">
								<li class="nav-item">
									<a class="nav-link hovers active text-center" aria-current="page" href="#">Home</a>
								</li>
								<li class="nav-item ps-2">
									<a class="nav-link hovers text-center" aria-current="page" href="./cards.html">MyCards</a>
								</li>
								<li class="ps-2 exit1">
									<a @click.prevent="logout" class="nav-link logout"><ion-icon class="exit" name="exit-outline"></ion-icon></a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</header>
			<main>
				<div class="encabezado">
					<h1 class="d-flex justify-content-center align-items-center">Welcome <span class="ps-3 text-welcome">{{datos.firstName}}!</span></h1>
				</div>
				<h2 class="text-center pt-5 text-light text-main">ACCOUNTS</h2>
				<template v-if="accounts.length !== 3">
					<button @click="createAccount" type="submit" class="d-flex m-auto mt-4 btn-account">ADD ACCOUNTS</button>
				</template>
				<div class="pt-5 d-flex justify-content-around flex-wrap div-account gap-5">
					<div class="div-main d-flex flex-column justify-content-evenly text-center" v-for="dato of datos.account">
						<h3 class="h3-account text-center">{{dato.number}}</h3>
						<div>
							<h5 class="h5-account text-start">
								<span class="pe-2">Creation Day</span>
							</h5>
							<span class="span-vue">{{dato.creationDate.slice(0,10)}} at {{dato.creationDate.slice(11,16)}}</span>
							<h5 class="h5-account text-start"><span class="pe-2">Balance</span></h5>
							<span class="span-vue">{{dato.balance.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",")}} U$S</span>
						</div>
						<div>
							<h4><span class="span">-</span>TRANSACTIONS<span class="span">-</span></h4>

							<a :href="'./account.html?id=' + dato.id" class="a-trans"><img class="icon-debit" src="../img/transaction-icon.png" alt="" /></a>
						</div>
					</div>
				</div>
				<h2 class="text-main pt-3 text-light text-center">LOANS</h2>
				<div class="pt-5 pb-5 d-flex justify-content-center align-items-center contenedor" v-if="loans.length">
					<table class="table container">
						<thead class="table-light">
							<tr>
								<td class="text-trans text-center">Name</td>
								<td class="text-trans text-center">Amount</td>
								<td class="text-trans text-center">Payments</td>
							</tr>
						</thead>
						<tbody>
							<tr v-for="dato of loans">
								<td class="text-light text-center">{{dato.name}}</td>
								<td class="text-light text-center">{{dato.amount.toFixed(2).replace(/\B(?=(\d{3})+(?!\d))/g, ",")}} U$S</td>
								<td class="text-light text-center">{{dato.payments}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="pt-5 pb-5" v-else>
					<p class="mb-0 text-light fs-3 text-center">THIS CLIENT DOES NOT HAVE LOANS.</p>
					<p class="text-p fs-3 text-center">DO YOU WANT TO ORDER ONE?</p>
				</div>
			</main>
			<footer class="d-flex justify-content-between align-items-center flex-wrap footer">
				<div class="d-flex justify-content-evenly ps-5 div-redes">
					<a href="https://twitter.com/?lang=es" target="_blank"><ion-icon class="twitter pe-5" name="logo-twitter"></ion-icon></a>
					<a
						href="https://www.facebook.com/?stype=lo&jlou=AfffVveciDyf5KfxOjIp2ZfxOJrcoWkofVg7BatuPUqbUTBRc5Z_Zc7wD2r2LhQzpqh7D0Ey3KVkNDMMdjzbtt_Z7lFjaTbRjXujd9VM8l2Zzw&smuh=45536&lh=Ac_fNpk9LXOq1f7U"
						target="
					"
						><ion-icon class="facebook" name="logo-facebook"></ion-icon
					></a>
				</div>
				<h4 class="pe-5 text-footer">
					<a class="linkedin" href="https://www.linkedin.com/in/franco-agustin-hermosilla-melo/" target="_blank"
						>Franco Hermosilla Melo <span>Cohort 44</span></a
					>
				</h4>
			</footer>
		</div>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
			crossorigin="anonymous"
		></script>
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script src="../js/accounts.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
		<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	</body>
</html>
