<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>HOMEBANKING | CARDS</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
			crossorigin="anonymous"
		/>
		<link rel="shortcut icon" href="../img/logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="../css/account.css" />
		<link rel="stylesheet" href="../css/card.css" />
	</head>
	<body class="hidden">
		<div class="center1" id="onload">
			<div class="lds-dual-ring"></div>
		</div>
		<div id="app">
			<header>
				<nav class="navbar navbar-expand-lg">
					<div class="container-fluid ps-5 pe-5">
						<img src="../img/logo.png" alt="logo" class="img-header" />
						<span class="text-light fs-5 txt-header-span">MINDHUB BROTHERS</span>
						<button
							class="navbar-toggler"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#navbarNav"
							aria-controls="navbarNav"
							aria-expanded="false"
							aria-label="Toggle navigation"
						>
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
							<ul class="navbar-nav">
								<li class="nav-item pe-2">
									<a class="nav-link hovers text-center" aria-current="page" href="./accounts.html">MyAccounts</a>
								</li>
								<li class="nav-item active nav-card">
									<a class="nav-link text-center" aria-current="page" href="#">MyCards</a>
								</li>
								<li class="nav-item ps-2">
									<a class="nav-link hovers text-center" aria-current="page" href="./transfers.html">Transfers</a>
								</li>
								<li class="ps-2 exit1">
									<a @click.prevent="logout" class="nav-link logout"><ion-icon class="exit" name="exit-outline"></ion-icon></a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</header>
			<main>
				<div class="encabezado">
					<h1 class="d-flex justify-content-center align-items-center">CARDS</h1>
				</div>
				<template v-if="cardsActive.length !== 6">
					<a href="./create-cards.html" class="d-flex justify-content-center m-auto mt-4 btn-cards">ADD CARDS</a>
				</template>
				<div class="pt d-flex justify-content-evenly align-items-start flex-wrap">
					<div class="center">
						<h2 class="text-center text-light text-card mb-3">DEBIT</h2>
						<template v-if="cardsDebit.length" v-for="card of cardsDebit">
							<template v-if="card.thruDate <= actualDate ">
								<p class="text-center text-light">Expired Card</p>
							</template>
							<div class="div-cards">
								<div class="card">
									<div class="flip">
										<div :class="card.color" class="front">
											<div class="strip-bottom"></div>
											<div class="strip-top"></div>
											<img src="../img/logo.png" class="logo" width="60" height="60" viewbox="0 0 17.5 16.2" />
											<div class="investor">MindHub Brothers</div>

											<div class="chip">
												<div class="chip-line"></div>
												<div class="chip-line"></div>
												<div class="chip-line"></div>
												<div class="chip-line"></div>
												<div class="chip-main"></div>
											</div>
											<svg class="wave" viewBox="0 3.71 26.959 38.787" width="26.959" height="38.787" fill="white">
												<path
													d="M19.709 3.719c.266.043.5.187.656.406 4.125 5.207 6.594 11.781 6.594 18.938 0 7.156-2.469 13.73-6.594 18.937-.195.336-.57.531-.957.492a.9946.9946 0 0 1-.851-.66c-.129-.367-.035-.777.246-1.051 3.855-4.867 6.156-11.023 6.156-17.718 0-6.696-2.301-12.852-6.156-17.719-.262-.317-.301-.762-.102-1.121.204-.36.602-.559 1.008-.504z"
												></path>
												<path
													d="M13.74 7.563c.231.039.442.164.594.343 3.508 4.059 5.625 9.371 5.625 15.157 0 5.785-2.113 11.097-5.625 15.156-.363.422-1 .472-1.422.109-.422-.363-.472-1-.109-1.422 3.211-3.711 5.156-8.551 5.156-13.843 0-5.293-1.949-10.133-5.156-13.844-.27-.309-.324-.75-.141-1.114.188-.367.578-.582.985-.542h.093z"
												></path>
												<path
													d="M7.584 11.438c.227.031.438.144.594.312 2.953 2.863 4.781 6.875 4.781 11.313 0 4.433-1.828 8.449-4.781 11.312-.398.387-1.035.383-1.422-.016-.387-.398-.383-1.035.016-1.421 2.582-2.504 4.187-5.993 4.187-9.875 0-3.883-1.605-7.372-4.187-9.875-.321-.282-.426-.739-.266-1.133.164-.395.559-.641.984-.617h.094zM1.178 15.531c.121.02.238.063.344.125 2.633 1.414 4.437 4.215 4.437 7.407 0 3.195-1.797 5.996-4.437 7.406-.492.258-1.102.07-1.36-.422-.257-.492-.07-1.102.422-1.359 2.012-1.075 3.375-3.176 3.375-5.625 0-2.446-1.371-4.551-3.375-5.625-.441-.204-.676-.692-.551-1.165.122-.468.567-.785 1.051-.742h.094z"
												></path>
											</svg>
											<div class="card-number">
												<div class="section">{{card.number.slice(0,4)}}</div>
												<div class="section">{{card.number.slice(5,9)}}</div>
												<div class="section">{{card.number.slice(10,14)}}</div>
												<div class="section">{{card.number.slice(15,19)}}</div>
											</div>
											<div class="end">
												<span class="end-text">exp. end:</span
												><span class="end-date">{{card.thruDate.slice(5,7)}} / {{card.thruDate.slice(2,4)}}</span>
											</div>
											<div class="card-holder">{{card.cardholder}}</div>
											<div class="master">
												<div class="circle master-red"></div>
												<div class="circle master-yellow"></div>
											</div>
										</div>
										<div :class="card.color" class="back">
											<div class="strip-black"></div>
											<div class="ccv">
												<label>ccv</label>
												<div>{{card.cvv}}</div>
											</div>
											<div class="terms">
												<p>
													This card is property of MindHubBrothers Bank, Wonderland. Misuse is criminal offence. If found, please return to
													MindHubBrothers Bank or to the nearest bank with MasterCard logo.
												</p>
												<p>Use of this card is subject to the credit card agreement.</p>
											</div>
										</div>
									</div>
								</div>
								<button @click="cardDelete(card.id)" class="d-flex justify-content-center align-items-center m-auto btn-delete btn-account">
									<ion-icon name="trash-outline"></ion-icon>DELETE CARDS
								</button>
							</div>
						</template>
						<template v-else>
							<div>
								<p class="text-light fs-4 pt-5">YOU DO NOT HAVE ANY DEBIT CARD</p>
							</div>
						</template>
					</div>

					<div class="center div-cards">
						<h2 class="text-center text-light text-card mb-3">CREDIT</h2>
						<template v-if="cardsCredit.length" v-for="card of cardsCredit">
							<template v-if="card.thruDate <= actualDate ">
								<p class="text-center text-light">Expired Card</p>
							</template>
							<div class="div-cards">
								<div class="card">
									<div class="flip">
										<div :class="card.color" class="front">
											<div class="strip-bottom"></div>
											<div class="strip-top"></div>
											<img src="../img/logo.png" class="logo" width="60" height="60" viewbox="0 0 17.5 16.2" />
											<div class="investor">MindHub Brothers</div>

											<div class="chip">
												<div class="chip-line"></div>
												<div class="chip-line"></div>
												<div class="chip-line"></div>
												<div class="chip-line"></div>
												<div class="chip-main"></div>
											</div>
											<svg class="wave" viewBox="0 3.71 26.959 38.787" width="26.959" height="38.787" fill="white">
												<path
													d="M19.709 3.719c.266.043.5.187.656.406 4.125 5.207 6.594 11.781 6.594 18.938 0 7.156-2.469 13.73-6.594 18.937-.195.336-.57.531-.957.492a.9946.9946 0 0 1-.851-.66c-.129-.367-.035-.777.246-1.051 3.855-4.867 6.156-11.023 6.156-17.718 0-6.696-2.301-12.852-6.156-17.719-.262-.317-.301-.762-.102-1.121.204-.36.602-.559 1.008-.504z"
												></path>
												<path
													d="M13.74 7.563c.231.039.442.164.594.343 3.508 4.059 5.625 9.371 5.625 15.157 0 5.785-2.113 11.097-5.625 15.156-.363.422-1 .472-1.422.109-.422-.363-.472-1-.109-1.422 3.211-3.711 5.156-8.551 5.156-13.843 0-5.293-1.949-10.133-5.156-13.844-.27-.309-.324-.75-.141-1.114.188-.367.578-.582.985-.542h.093z"
												></path>
												<path
													d="M7.584 11.438c.227.031.438.144.594.312 2.953 2.863 4.781 6.875 4.781 11.313 0 4.433-1.828 8.449-4.781 11.312-.398.387-1.035.383-1.422-.016-.387-.398-.383-1.035.016-1.421 2.582-2.504 4.187-5.993 4.187-9.875 0-3.883-1.605-7.372-4.187-9.875-.321-.282-.426-.739-.266-1.133.164-.395.559-.641.984-.617h.094zM1.178 15.531c.121.02.238.063.344.125 2.633 1.414 4.437 4.215 4.437 7.407 0 3.195-1.797 5.996-4.437 7.406-.492.258-1.102.07-1.36-.422-.257-.492-.07-1.102.422-1.359 2.012-1.075 3.375-3.176 3.375-5.625 0-2.446-1.371-4.551-3.375-5.625-.441-.204-.676-.692-.551-1.165.122-.468.567-.785 1.051-.742h.094z"
												></path>
											</svg>
											<div class="card-number">
												<div class="section">{{card.number.slice(0,4)}}</div>
												<div class="section">{{card.number.slice(5,9)}}</div>
												<div class="section">{{card.number.slice(10,14)}}</div>
												<div class="section">{{card.number.slice(15,19)}}</div>
											</div>
											<div class="end">
												<span class="end-text">exp. end:</span
												><span class="end-date">{{card.thruDate.slice(5,7)}} / {{card.thruDate.slice(2,4)}}</span>
											</div>
											<div class="card-holder">{{card.cardholder}}</div>
											<div class="master">
												<div class="circle master-red"></div>
												<div class="circle master-yellow"></div>
											</div>
										</div>
										<div :class="card.color" class="back">
											<div class="strip-black"></div>
											<div class="ccv">
												<label>ccv</label>
												<div>{{card.cvv}}</div>
											</div>
											<div class="terms">
												<p>
													This card is property of MindHubBrothers Bank, Wonderland. Misuse is criminal offence. If found, please return to
													MindHubBrothers Bank or to the nearest bank with MasterCard logo.
												</p>
												<p>Use of this card is subject to the credit card agreement.</p>
											</div>
										</div>
									</div>
								</div>
								<button @click="cardDelete(card.id)" class="d-flex justify-content-center align-items-center m-auto btn-delete btn-account">
									<ion-icon name="trash-outline"></ion-icon>DELETE CARDS
								</button>
							</div>
						</template>
						<template v-else>
							<div>
								<p class="text-light fs-4 pt-5">YOU DO NOT HAVE ANY CREDIT CARD</p>
							</div>
						</template>
					</div>
				</div>
			</main>
			<footer class="d-flex justify-content-between align-items-center flex-wrap footer">
				<div class="d-flex justify-content-evenly ps-5 div-redes">
					<a href="https://twitter.com/?lang=es" target="_blank"><ion-icon class="twitter pe-5" name="logo-twitter"></ion-icon></a>
					<a
						href="https://www.facebook.com/?stype=lo&jlou=AfffVveciDyf5KfxOjIp2ZfxOJrcoWkofVg7BatuPUqbUTBRc5Z_Zc7wD2r2LhQzpqh7D0Ey3KVkNDMMdjzbtt_Z7lFjaTbRjXujd9VM8l2Zzw&smuh=45536&lh=Ac_fNpk9LXOq1f7U"
						target="
				"
						><ion-icon class="facebook" name="logo-facebook"></ion-icon
					></a>
				</div>
				<h4 class="pe-5 text-footer">
					<a class="linkedin" href="https://www.linkedin.com/in/franco-agustin-hermosilla-melo/" target="_blank"
						>Franco Hermosilla Melo <span>Cohort 44</span></a
					>
				</h4>
			</footer>
		</div>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
			crossorigin="anonymous"
		></script>
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script src="../js/cards.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
		<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	</body>
</html>
